<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ectn.Utilities.TemsInfoClientGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Ectn.Utilities.TemsInfoClientGui.Properties.Settings>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ConnectionAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ConnectionPort" serializeAs="String">
        <value>54345</value>
      </setting>
      <setting name="ConnectionId" serializeAs="String">
        <value>Reference Client</value>
      </setting>
      <setting name="ConnectionConfiguration" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
          &lt;TemsInfoConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://code.sch.sick.com/TemsInfoConfiguration.xsd"&gt;
          &lt;HeartbeatMessageInterval&gt;1&lt;/HeartbeatMessageInterval&gt;
          &lt;StatusMessageMode&gt;Both&lt;/StatusMessageMode&gt;
          &lt;StatusMessageInterval&gt;60&lt;/StatusMessageInterval&gt;
          &lt;MessageFilter&gt;
          &lt;VehicleMessages&gt;
          &lt;BinaryDataTypes /&gt;
          &lt;/VehicleMessages&gt;
          &lt;ObjectStartMessages /&gt;
          &lt;ObjectStopMessages /&gt;
          &lt;ObjectLocationMessages /&gt;
          &lt;ValueMessages /&gt;
          &lt;/MessageFilter&gt;
          &lt;/TemsInfoConfiguration&gt;</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
    </Ectn.Utilities.TemsInfoClientGui.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
